body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}



.container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
}

.blocHorizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

::-webkit-scrollbar {
    display: none;
}
.one {
    background: #24be31;
}
.two {
    background: #fffc99;
}
.three {
    background: #ca2222;
}
.four {
    background: #8e8358;
}